.card {
  background-color: green;
}

.card::before {
  /* content: ""; */
  /* display: block; */
  position: absolute;
  top: 200px;
  right: -30px;
  height: 30px;
  width: 30px;
  background-color: #4a71ff;
  border: none;
  box-shadow: none;
}

.image {
  background-color: red;
  height: 200px;
  width: 300px;
  border-radius: 3%;
}

.content {
  display: flex;
  height: 200px;
  width: 300px;
  background-color: blue;
}
