.timeline {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  background-color: #4a71ff;
}

.card {
  height: 100%;
  width: 100%;
  background-color: aqua;
}

/*


  <Chrono items={items} mode="HORIZONTAL" />
  <Chrono items={items} mode="VERTICAL" />
  <Chrono items={items} mode="VERTICAL_ALTERNATING" />

  < Timeline item Model >
    title	- title of the timeline item	String
    cardTitle	- title that is displayed on the timeline card	String
    cardSubtitle - text displayed in the timeline card	String
    cardDetailedText -detailed text displayed in the timeline card	String or String[]
    media	- media object to set image or video.	Object
    url	- url to be used in the title.	String
*/
