@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Roboto&display=swap');


.tag{
    background-color: #FAB44F;
    border-radius: 30px;
    text-align: center;
    padding:3px 12px;
    margin: 0px 2px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: white;
}