@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&family=Roboto&display=swap');

.addCommentContainer {
    position: relative;
  }
  
  .commentContainer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin:0px;
    padding:0px;
  }

.commentField {
    position: relative;
    bottom:10px;
    border-radius: 10px;
    box-shadow: 2px 5px 7px #b8b8b8;
  }
  .userInput {
    width: 286px;
    height: 65px;
    padding-left:10px; 
    box-sizing: border-box;
    outline: none;
    border: 1px solid #fff;
    font-family:"Roboto", sans-serif;
    font-size: 14px;
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  .postButton {
      width: 52px;
      height: 30px;
    position: absolute;
    right: 10px; 
    top: 20px;
    bottom: 3px;
    border: 0;
    background: #4A71FF;
    color: #fff;
    padding: 0 10px;
    z-index: 2;
    font-family:"Lexend", sans-serif;
    font-size: 14px;
    border-radius: 5px;
  }