@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+Display&display=swap");

body{
    font-family:"Lato", sans-serif;
    background-color: #C5E4DE;
}

h2, h3, p{
    color: #707070;
}

.content{
    margin:1rem 2rem;
}

.photo{
    width:10em;
    height:10em;
    object-fit:cover;
    border-radius:50%;
    display: inline;
    float: left;
  }

  .title{
      display: inline;
      float:left;
      
      margin-left:1rem;
  }

  .container{
      display:inline-block;
      margin-top: 20px;
  }

  .header{
    display:inline-block;
}
