@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Roboto&display=swap");

.tag {
  display: block;
  width: 70px;
  background-color: #fab44f;
  border-radius: 30px;
  text-align: center;
  padding: 6px 12px;
  margin: 3px 2px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: white;
}
